* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  text-align: justify;
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffd52b;
}

main {
  margin: 0 auto;
}

header {
  background-color: #0045ad;
  color: #ffffff;
  border-radius: 10px;
}

footer {
  background-color: #0045ad;
  color: #ffffff;
  border-radius: 10px;
}

#copyright {
  text-align: center;
}

#list {
  list-style: none;
}

/*WEEK 1 CSS*/
.week1img{
  width: 100%;
  height: auto;
}

/*WEEK 9 CSS*/
.wireframeContainer {
  padding: 10px;
}

.wireframe {
  width: 100%;
}

.colors {
  width: 100%;
  border-radius: 10px;
}

.typography {
  width: 100%;
}