@media only screen and (min-width: 40rem) {
    body {
        max-width: 1000px;
    }
    
    .week1img {
        width: 700px;
        height: auto;
    }

    /*WEEK 9 CSS*/

    .wireframe {
        width: 80%;
      }
      
      .colors {
        width: 80%;
        border-radius: 10px;
      }
      
      .typography {
        width: 100%;
      }
}